@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;600&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: rebeccapurple;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.pw-container {
    background-color: rgb(54, 5, 104);
    width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.pw-header {
    padding: 1rem;
}

.pw {
    font-size: 1.5rem;
    background-color: rebeccapurple;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: auto;
}

.pw button {
    background-color: rgba(29, 2, 56);
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    font-family: inherit;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(0, 20%);
    transition: opacity 0.2s ease;
    opacity: 0;
    cursor: pointer;
}

.pw:hover button {
    opacity: 1;
}

.pw-body {
    padding: 1rem;
}

.form-control {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.generate {
    background-color: #ecb602;
    border: none;
    color: rebeccapurple;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.75rem;
    margin-top: 1rem;
    width: 100%;
    cursor: pointer;
}