@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;600&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background: #2193b0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-container {
    background-color: #fff;
    border-radius: 10px;
    width: 600px;
    max-width: 100%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.quiz-header {
    padding: 4rem;
}

h2 {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.1rem;
    margin: 1rem 0;
}

button {
    background-color: #55efc4;
    border: none;
    color: white;
    display: block;
    font-family: inherit;
    font-size: 1.3rem;
    width: 100%;
    padding: 1.3rem;
    cursor: pointer;
}

button:hover {
    background-color: #034432;
}